* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  align-items: top;
}
h1 {
  font-family: sans-serif;
  font-size: 40px;
  line-height: 1.3;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: rgba(0, 0, 0, 0.788);
}
.title {
  margin-top: 1%;
  height: 20vh;
  padding: 5px;
  background-color: rgb(255, 196, 0);
}
.searchbox {
  margin-left: 25%;
  height: 7vh;
  border: 3px;
  border-radius: 10px;
  border-color: white;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1;
  width: 50%;
  padding: 15px;
  text-align: left;
  color: rgba(0, 0, 0, 0.788);
}

#title2 {
  font-family: sans-serif;
  border-top: 5px;
  /* border-color: black; */
  font-size: 35px;
  margin-top: 4%;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 0px;
  text-align: center;
  color: rgba(24, 192, 150, 0.788);
}

.hr {
  color: whitesmoke;
  border-bottom: 1px solid #eee;
  width: 100%;
}
.form.hidden {
  margin-bottom: 0;
  opacity: 100;
}
.form__label {
  width: 100%;
}

.movements {
  grid-row: 2 / span 3;
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;
}

.movements__row {
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}
.form__btn {
  display: flex;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
  background-color: #fff;
  color: black;
}

.hide {
  margin: 2rem;
  font-size: 23px;
  box-sizing: border-box;
}

.hide__tasks {
  margin-top: 10px;
  margin-left: 20px;
  padding: 25px;
  border: 10px;
  margin: 5px;
  width: 25px;
  height: 18px;
}

.searchbox2 {
  background-color: azure;
  margin-left: 1%;
  height: 7vh;
  border: 3px;
  border-radius: 10px;
  border-width: 2px;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1;
  width: 50%;
  padding: 15px;
  text-align: left;
  color: rgba(0, 0, 0, 0.575);
}

.add__task {
  margin-top: 444px;
  padding: 9px 14px;
  border-radius: 5px;
  color: white;
  background-color: rgb(255, 196, 0);
  font-size: 23px;
  margin: 0 3px;
  cursor: pointer;
}

.trash {
  height: 20px;
}
.list {
  height: 20px;
  margin: 10px;
}

